<footer id="footer">
    <div class="row">
        <div class="information max-3 desktop-5 tablet-3 mobile-full">
            <a href="http://www.kenyon.edu/" class="logo">Kenyon College</a>
            <p>Gambier, Ohio 43022<br />(740) 427-5000</p> <a href="https://www.instagram.com/kenyoncollege/" class="instagram" target="_blank">Instagram</a>
            <a href="https://twitter.com/KenyonCollege" class="twitter" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/kenyoncollege" class="facebook" target="_blank">Facebook</a>
            <a href="http://www.youtube.com/user/KenyonCollegeVideo" class="youtube" target="_blank">YouTube</a>
        </div>
        <div class="links max-4 max-pull-1 desktop-5 tablet-3 mobile-full right">
            <ul class="primary">
                <li><a href="http://www.kenyon.edu/contact-us/">Contact Us</a></li>
                <li><a href="http://www.kenyon.edu/visit-kenyon/getting-to-campus/">Directions</a></li>
                <li><a href="http://map.kenyon.edu/" target="_blank">Map</a></li>
                <li><a href="http://www.kenyon.edu/directories/offices-services/human-resources/employment-opportunities/">Employment</a></li>
            </ul>
            <ul class="secondary">
                <li><a href="http://www.kenyon.edu/directories/offices-services/ocr/discrimination/non-discrimination-statement-2/">Non-Discrimination Statement</a></li>
                <li><a href="http://www.kenyon.edu/web-accessibility-statement/">Accessibility Statement</a></li>
                <li><a href="http://www.kenyon.edu/directories/campus-directory/">Campus Directory</a></li>
                <li><a href="http://www.kenyon.edu/directories/offices-services/">Offices &amp; Services</a></li>
                <li><a href="http://www.kenyon.edu/directories/offices-services/campus-safety/">Campus Safety</a></li>
                <li><a href="https://lbis.kenyon.edu" target="_blank">Library</a></li>
                <li><a href="http://www.shopkenyon.com/welcome-kenyon-college-bookstore" target="_blank">Bookstore</a></li>
                <li><a href="http://www.kenyon.edu/middle-path/">News &amp; Media</a></li>
                <li><a href="http://www.kenyonreview.org/" target="_blank">Kenyon Review</a></li>
                <li><a href="http://www.kenyon.edu/directories/offices-services/philander-chase-conservancy/">Philander Chase Conservancy</a></li>
                <li><a href="http://www.thegundgallery.org/" target="_blank">The Gund Gallery</a></li>
                <li><a href="http://www.kenyoninstitute.org" target="_blank">The Kenyon Institute</a></li>
                <li><a href="http://www.kenyon.edu/about-kenyon/center-for-the-american-study-of-democracy/">The Center for the Study of American Democracy</a></li>
                <li><a href="http://www.kenyon.edu/sitemap/">Sitemap</a></li>
            </ul>
            <ul class="static">
                <li><a href="http://www.kenyon.edu/admissions-aid/contact-admissions/request-information/"><span class="info"></span>Request Information</a></li>
                <li><a href="http://www.kenyon.edu/visit-kenyon/"><span class="visit"></span>Visit Campus</a></li>
                <li><a href="http://www.kenyon.edu/admissions-aid/how-to-apply/"><span class="apply"></span>Apply</a></li>
                <li><a href="http://www.kenyon.edu/website-feedback/"><span class="feedback"></span>Website Feedback</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
<span id="middlepath_related_loading" class="hide">Loading</span>

</body>

</html>