<a href="#main_page_title" id="skip_to_content" class="skip_link">Skip to Main Content</a>

<div class="nav_slider_navigation">
    <nav class="navigation_mobile navigation_mobile_main" aria-labelledby="mobile_nav_title">
        <h4 id="mobile_nav_title" aria-label="Mobile Navigation">Navigation</h4>
        <ul class="depth_1">
        </ul>
    </nav>
    <form method="get" action="http://www.kenyon.edu/search/">
        <h4>Search Kenyon</h4>
        <div class="contain">
            <label class="visually_hidden" for="footer_site_search_query">Search Site by Keyword</label>
            <input id="footer_site_search_query" class="text" type="text" name="q" />
            <input class="submit" type="submit" value="Search" />
        </div>
        <div class="contain">
            <span class="mobile_search_type_active" data-target="http://www.kenyon.edu/search/">Website</span>
            <div class="mobile_search_type mobile_seach_site"></div>
            <span data-target="http://www.kenyon.edu/directories/campus-directory/search/">Directory</span>
        </div>
    </form>
</div>

<div class="nav_slider_page">
    <header id="header" aria-label="Main Site Navigation">
        <div class="row">
            <div class="desktop-12 tablet-6 mobile-full">
                <a href="http://www.kenyon.edu/" class="logo">Kenyon College</a>
                <div class="navigation_desktop">
                    <nav aria-label="Contact" class="gateways top_nav">
                        <div class="item handle"><a>mta@edu.vn</a></div>
                    </nav>
                    <nav class="main" aria-label="Main Navigation">
                    </nav>
                    <nav class="persistent top_nav" aria-label="Social linked">
                        <div class="item">
                            
                        </div>
                    </nav>
                </div>
                <div class="navigation_compact">
                    <span class="nav_slider_handle mobile_handle">Navigation</span>
                </div>
            </div>
        </div>
    </header>
    <a name="top"></a>
