<div id="feature_wrapper">
    <section aria-label="Featured Stories" id="home_features">
        <div class="viewport on"></div>
        <div class="overlay">
            <div class="row">
                <div class="desktop-12 positioner">
                    <menu class="controls">
                        <div class="previous control" data-scout-event="Home:Feature,Move:Previous">
                            <span class="control_label">Previous</span>
                        </div>
                        <div class="next control" data-scout-event="Home:Feature,Move:Next">
                            <div class="next_preview">
                                <div class="next_preview_image">
                                    <img src="" alt="">
                                </div>
                                <div class="next_preview_description">
                                    <div class="next_preview_subtitle">Next Story</div>
                                    <div class="next_preview_title"></div>
                                </div>
                            </div>
                            <div class="control_label">Next</div>
                        </div>
                    </menu>
                    <div class="articles">
                        <article class="info active  darker" data-title="Transformational Gift" data-image="http://www.kenyon.edu/images/home-features/preview_exterior-perspective-20170914-3.jpg" data-background="http://www.kenyon.edu/images/home-features/exterior-perspective-20170914-3.jpg" data-mobile-background="http://www.kenyon.edu/images/home-features/exterior-perspective-20170914-3.jpg" data-darker="on">
                            <h1><a href="http://www.kenyon.edu/middle-path/story/transformational-gift//?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=gift" data-scout-event="Home:Feature,Slide:1">Transformational Gift</a></h1>
                            <p><span style="font-weight: 400;">A <a href="http://www.kenyon.edu/middle-path/story/transformational-gift//?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=gift">$75 million gift</a> will fund the development of a new library and academic quadrangle.</span></p>
                        </article>
                        <article class="info after  darker" data-title="Cleared for Liftoff" data-image="http://www.kenyon.edu/images/home-features/preview_annalee-rj-edit.jpg" data-background="http://www.kenyon.edu/images/home-features/annalee-rj-edit.jpg" data-mobile-background="http://www.kenyon.edu/images/home-features/annalee-rj-edit.jpg" data-darker="on">
                            <h1><a href="http://bulletin.kenyon.edu/feature/cleared-for-liftoff/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=liftoff" data-scout-event="Home:Feature,Slide:2">Cleared for Liftoff</a></h1>
                            <p>Go behind the music with Nick Petricca '09 of <a href="http://bulletin.kenyon.edu/feature/cleared-for-liftoff/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=liftoff">Walk the Moon</a>, which&nbsp;launched at Kenyon.</p>
                        </article>
                        <article class="info after  darker" data-title="Programming Humanity" data-image="http://www.kenyon.edu/images/home-features/preview_img_2507_web-2.jpg" data-background="http://www.kenyon.edu/images/home-features/img_2507_web-2.jpg" data-mobile-background="http://www.kenyon.edu/images/home-features/img_2507_web-2.jpg" data-darker="on">
                            <h1><a href="http://www.kenyon.edu/middle-path/story/programming-humanity/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=programming-humanity" data-scout-event="Home:Feature,Slide:3">Programming Humanity</a></h1>
                            <p><span style="font-weight: 400;">A new <a href="http://www.kenyon.edu/middle-path/story/programming-humanity/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=programming-humanity">interdisciplinary course</a> explores the promise and peril of artificial intelligence.</span></p>
                        </article>
                        <article class="info after  darker" data-title="Drawing Abroad" data-image="http://www.kenyon.edu/images/home-features/preview_kenyon_10-20-17_0678edit.jpg" data-background="http://www.kenyon.edu/images/home-features/kenyon_10-20-17_0678edit.jpg" data-mobile-background="http://www.kenyon.edu/images/home-features/kenyon_10-20-17_0678edit.jpg" data-darker="on">
                            <h1><a href="http://www.kenyon.edu/middle-path/story/drawing-abroad/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=henry-uhrik" data-scout-event="Home:Feature,Slide:4">Drawing Abroad</a></h1>
                            <p>For a Russian and studio art major, <a href="http://www.kenyon.edu/middle-path/story/drawing-abroad/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=henry-uhrik">illustration</a> helps transcend cultural and language barriers.</p>
                        </article>
                        <article class="info after  darker" data-title="Goal Oriented" data-image="http://www.kenyon.edu/images/home-features/preview_myers_henry_28msoc15-2.jpg" data-background="http://www.kenyon.edu/images/home-features/myers_henry_28msoc15-2.jpg" data-mobile-background="http://www.kenyon.edu/images/home-features/myers_henry_28msoc15-2.jpg" data-darker="on">
                            <h1><a href="http://www.kenyon.edu/middle-path/story/goal-oriented/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=henry-myers" data-scout-event="Home:Feature,Slide:5">Goal Oriented</a></h1>
                            <p>Soccer and statistics stand-out <a href="http://www.kenyon.edu/middle-path/story/goal-oriented/?utm_source=feature&amp;utm_medium=headline&amp;utm_campaign=henry-myers">Henry Myers &rsquo;18</a> prepares for his next challenge.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section aria-labelledby="middle_path_label" id="home_middlepath">
        <div class="row">
            <header>
                <div class="realtive">
                    <h2 id="middle_path_label">News</h2>
                </div>
            </header>
            <div id="home_middlepath_elements">
                <div class="home-content-column-1">
                    <div class="clearfix"></div>
                </div>
                <div class="home-content-column-2">
                    <div class="load_module" attr-module="diem-tin"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="home-content-column-3">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="home_bottom">
</div>
