<div id="feature_wrapper">
    {{module:featured}}
    <section aria-labelledby="middle_path_label" id="home_middlepath">
        <div class="row">
            <header>
                <div class="realtive">
                    <h2 id="middle_path_label">Tin tức</h2>
                </div>
            </header>
            <div id="home_middlepath_elements">
                <div class="home-content-column-1">
                    <div class="clearfix"></div>
                </div>
                <div class="home-content-column-2">
                    {{module:diem-tin}}
                    <div class="clearfix"></div>
                </div>
                <div class="home-content-column-3">
                    {{module:test-news}}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>

<div class="home_bottom">
</div>
