<header class="page" aria-labelledby="main_page_title">
	<div class="row">
		<div class="desktop-12">
      <h1 id="main_page_title">Kenyon At A Glance</h1>
			<nav class="breadcrumb" aria-label="Breadcrumb Navigation">
        <a href="http://www.kenyon.edu/">Home</a>
        <span>–</span>
        <a href="http://www.kenyon.edu/about-kenyon/">About Kenyon</a>
          <span>–</span>
        <a href="http://www.kenyon.edu/about-kenyon/kenyon-at-a-glance/" class="last">Kenyon at a Glance</a>
      </nav>
		</div>
	</div>
</header>

<section aria-labelledby="main_page_title" class="page">
  <div class="row">
    <aside aria-label="Side Navigation" class="sidebar desktop-3 tablet-full mobile-full">
      <nav class="subnavigation" aria-labelledby="subnav_title">
        <div id="subnav_title" class="naver-handle">Additional Navigation</div>
        <div class="naver-wrapper">
          <div class="naver-container">
            <ul class="depth_1">
            </ul>
          </div>
        </div>
      </nav>
    </aside>
    <div class="body desktop-9 tablet-full mobile-full right max-8 max-push-1">
      <div id="body_content">
      </div>
    </div>
  </div>
</section>