RewriteEngine On
RewriteBase /MTA/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

# ?!(request|login|register|logout|gioi-thieu|dao-tao|tuyen-sinh|NCKH|co-so-ky-thuat|hop-tac-quoc-te|thu-vien|dam-bao-chat-luong|hoc-vien-sinh-vien|lien-he)

#RewriteRule ^((.*)[^/].+)$ index.php?page=$1
#RewriteRule ^((.*).*) index.php?page=$1


RewriteRule ^((.*).*) index.php?page=$1
RewriteRule !\.(json|js|ico|gif|jpg|jpeg|png|css|html|swf|flv|xml)$ index.php [QSA,L]



#This will rewrite requests for any files that don't exist on the server to index.php:
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule .* index.php [L]

